<html xmlns:th="http://www.thymeleaf.org">
<head th:include="layout :: head(title=~{::title},links=~{})">
<title>All Patient Bills</title>
</head>
<body th:include="layout :: body" th:with="content=~{::content}">

	<div th:fragment="content">
		<script th:inline="javascript">
            var app = angular.module('billsApp', []);
            
      	    /**
      	     * A filter to humanize the text to be more user friendly.
      	     */
      	    app.filter('humanize', function() {
      		    return function (input) {
      			    if (input == null || input == "") {
      			  	  return "";
      			    }

      			    return input.toLowerCase().split('_')
      					  .map((word) => word.charAt(0).toUpperCase() + word.substring(1))
      					  .join(' ');
      		    }
      	    });
      	  
            app.controller('billsCtrl', function ($scope, $http) {
            	
            	//All bills
            	$scope.bills = [];
            	//All of the patient's bills
            	$scope.patientBills = [];
            	//False shows normal table results
            	$scope.showMode = false;
            	
            	//Updates the table with the most current data
            	$scope.updateBillTable = function() {
                    $http.get("/iTrust2/api/v1/bills/").then(
                    		function(response) {
                                $scope.bills = response.data;
                                $scope.message = "";
                                $scope.viewMode = true;
                                $scope.showMode = false;
                    		}, function(rejection) {
                    			$scope.bills = [];
                    			$scope.bills = "Could not display CPT Codes";
                            });
            	}
            	
            	//Updates the table of a patient's bills
/*             	$scope.updatePatientBillTable = function() {
            		$http.get("/iTrust2/api/v1/bills/").then(
                    		function(response) {
                                $scope.bills = response.data;
                                $scope.message = "";
                                $scope.viewMode = true;
                                $scope.showMode = false;
                    		}, function(rejection) {
                    			$scope.bills = [];
                    			$scope.bills = "Could not display CPT Codes";
                            });
            	} */
            	
            	//View a specific bill in a changed view
                $scope.viewBill = function() {
                    $scope.showMode = $scope.showMode ? false : true;
                }
            	
            	//Search for a patient by username
/*             	$scope.searchPatient = function(patientUsername) {
                    $http.get("/api/v1/patients/" + patientUsername + "/bills").then(
                    		function(response) {
                                $scope.patientBills = response.data;
                                $scope.message = "";
                                $scope.queryMode = true;
                                $scope.viewMode = false;
                    		}, function(rejection) {
                    			$scope.patientBills = [];
                    			$scope.patientBills = "Could not find patient";
                            });
            	} */
                
                //Populates the Bill's data in the form
                $scope.populateBill = function(bill) {
				    $scope.bill = {};
				    $scope.bill.id = bill.id;
				    $scope.bill.visit.patient.username = bill.visit.patient.username;
				    $scope.bill.visit.date = bill.visit.date;
				    $scope.bill.isPaid = bill.isPaid;
				    $scope.bill.totalDue = bill.totalDue;
				    $scope.bill.visit.cptCodes = bill.visit.cptCodes;
			    }
            	

            });      
            
        </script>

		<div ng-app="billsApp" ng-controller="billsCtrl as ctrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">

							<!-- active cpt's header -->
							<div class="panel-heading">
								<h3>Patient Bills</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered" name="cpt_table">

									<!-- table column headers -->
									<thead>
										<tr>
											<th>Patient Username</th>
											<th>Date of Visit</th>
											<th>Status</th>
											<th>Amount Due</th>
											<th>Action</th>
										</tr>
									</thead>

									<!-- CPT code for every row, ordered by code ascending -->
									<tbody>
										<tr name="billTableRow" ng-repeat="l in bills | orderBy: 'l.date'"
											billId={{l.id}}>
											<td name="usernameCell">{{l.visit.patient.username}}</td>
											<td name="visitDateCell">{{l.visit.date}}</td>
											<td name="statusCell">{{l.isPaid}}</td>
											<td name="dueCell">{{l.totalDue}}</td>
											<td name="actionCell"><input type="button"
												ng-click="viewBill()" value="View" /></td>
										</tr>
										<div ng-show="showMode">
											<!-- Display the information about the selected bill -->
											<div class='panel panel-default'
												ng-if="bill && showMode">

												<div class="panel-heading">
													<h3>Bill Details</h3>
												</div>
												<div class="panel-body">
												    <div class="row">
									                    <div class="form-group col-md-2">
										                    <label for="firstName">First Name:</label> <input id="first" type="text"
											                       class="form-control" value="{{bill.visit.patient.firstName}}" name="first" disabled />
											            </div>
									                    <div class="form-group col-md-2">
										                    <label for="lastName">Last Name:</label> <input id="last" type="text"
											                       class="form-control" value="{{bill.visit.patient.lastName}}" name="last" disabled />
									                    </div>
									                    <div class="form-group col-md-2">
										                    <label for="date">Date of Visit:</label> <input id="date" type="text"
											                       class="form-control" value="{{bill.visit.date  | date :
													               'MM/dd/yyyy'}}" name="date" disabled />
									                    </div>
									                </div>
												    <div class="row">
												        <div class="form-group col-md-2">
												            <label for="hcp">Provider:</label> <input id="hcp" type="text"
											                       class="form-control" value="{{bill.visit.hcp}}" name="hcp" disabled />
											            </div>   
											            <div class="form-group col-md-2">
												            <label for="hcp">Status:</label> <input id="status" type="text"
											                       class="form-control" value="{{bill.isPaid}}" name="status" disabled />
											            </div>
											            <div class="form-group col-md-2">
												            <label for="hcp">Amount Due:</label> <input id="due" type="text"
											                       class="form-control" value="{{bill.totalDue}}" name="due" disabled />
											            </div>    
												    </div>
												    <div class="row">
									                    <div class="form-group col-md-2">
												            <label for="hcp">CPT Codes:</label> <input id="cpts" type="text"
											                       class="form-control" value="{{bill.visit.cptCodes}}" name="cptsList" 
											                       ng-repeat="c in cpts" cptId={{c.id}}>
											                       <p name="code">{{bill.visit.cptCodes.cpt.code}}></p>
											                       <p name="description">{{bill.visit.cptCodes.cpt.description}}></p>
											                       <p name="cost">{{bill.visit.cptCodes.cpt.cost}}></p>
											billId={{l.id}}> />
											            </div>  
									            </div>
									          
									</div>
									<div class="form-group col-md-2 text-right">
										<div class="checkbox">
											<label> <input type="checkbox" name="preScheduled"
												class="checkbox" ng-model="visit.prescheduled" disabled>Prescheduled?
											</label>
										</div>
									</div>
								</div>	    
												
												</div>
												
											</div>
										</div>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>



<input type="checkbox" ng-model="checked" aria-label="Toggle ngShow">
<br />
<div class="check-element animate-show-hide" ng-show="checked">I
	show up when your checkbox is checked.</div>