<html xmlns:th="http://www.thymeleaf.org">

<head th:include="layout :: head(title=~{::title},links=~{::script})">
<title>Billing View Bills</title>
<script th:src="@{/js/dateTimeService.js}"
	src="../js/dateTimeService.js"></script>
<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body th:include="layout :: body" th:with="content=~{::content}">
	<div th:fragment="content">

		<script th:inline="javascript">
			var app = angular.module('billsApp', []);
			angular.module("billsApp").controller('billsCtrl', function($scope, $http) {

								//All bills
								$scope.bills = [];
								//All visits
								$scope.visits = [];
								//All of the patient's bills
								$scope.patientBills = [];
								//Selected patient
								$scope.patient = "Not set yet.";
								//Selected bill
								$scope.selectedBill = 0;

								$scope.updateBills = function() {
				                    $http.get("/iTrust2/api/v1/bills/").then(
				                    	function(response) {
				                            $scope.bills = response.data;
				                            $scope.message = "";
				                            $scope.showMode = false;
				                    		}, function(rejection) {
				                    			$scope.bills = [];
				                    			$scope.bills = "Could not display CPT Codes"
				                    });
				                }
								//Updates the table with the most current data
								$scope.updateBills = function() {
									$http.get("/iTrust2/api/v1/bills/").then(
										function(response) {
											$scope.bills = response.data;
											$scope.message = "";
										},
										function(rejection) {
														$scope.bills = [];
														$scope.bills = "Could not display bills"
													});
								}

								//Shows a selected bill
								$scope.showHideBill = function(bill) {
									$scope.showMode = $scope.showMode ? false : true;
									$scope.billDetails(bill);
								}

                                $scope.billDetails = function (bill) {
                                	$showMode = true;
									$scope.currentVisit = bill.visit;
									$scope.cpts = $scope.currentVisit.cptCodes;
									
									$http.get("/iTrust2/api/v1/bills/"+ bill.id +"/balance").then(
											function (response) {
												$scope.balance = response.data;
											}, function(rejection) {
												$scope.errorMessage = ("Could not find bills.");
										});
									console.log($scope.visits.length);
								}
								$scope.updateBills();
							});
		</script>

		<div ng-app="billsApp" ng-controller="billsCtrl as ctrl">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-primary">

							<!-- most recent bills header -->
							<div class="panel-heading">
								<h3>All Bills</h3>
							</div>
							<div class="panel-body">
								<table class="table table-bordered" name="bill_table">

									<!-- table column headers -->
									<thead>
										<tr>
											<th>Patient First Name</th>
											<th>Patient Last Name</th>
											<th>Date of Visit</th>
											<th>Status</th>
											<th>Amount Due</th>
											<th>Action</th>
										</tr>
									</thead>

									<!-- Bill for every row, ordered by most recent descending -->
									<tbody>
										<tr name="billTableRow"
											ng-repeat="b in bills | orderBy: 'b.date'" billId={{b.id}}>
											<!-- ng-show="selectedBill" -->
											<td name="firstNameCell">{{b.visit.patient.firstName}}</td>
											<td name="lastNameCell">{{b.visit.patient.lastName}}</td>
											<td name="visitDateCell">{{b.visit.date | date:
												"MM/dd/yyyy"}}</td>
											<td name="statusCell">{{b.status}}</td>
											<td name="dueCell">{{b.totalDue}}</td>
											<td name="actionCell"><input type="button" ng-model="showMode"
												value="View Details" class="btn btn-primary"
												ng-click="showHideBill(b)" />
										</tr>

										<div ng-show="showMode">
												<!-- Display the information about the selected bill -->
												<div class='panel panel-default'>
													<div class="panel-heading">
														<h3>Bill Details</h3>
													</div>
													<div class="panel-body">
														<div class="row">
															<div class="form-group col-md-2">
																<label for="firstName">First Name:</label>{{b.visit.patient.firstName}}
															</div>
															<div class="form-group col-md-2">
																<label for="lastName">Last Name:</label>{{b.visit.patient.lastName}}
															</div>
															<div class="form-group col-md-2">
																<label for="date">Date of Visit:</label>{{b.visit.date
																| date : 'MM/dd/yyyy'}}
															</div>
														</div>
														<div class="row">
															<div class="form-group col-md-2">
																<label for="hcp">Provider:</label>
																{{b.visit.hcp.username}}
															</div>
															<div class="form-group col-md-2">
																<label for="billStatus">Status:</label>
																{{b.status}}
															</div>
															<div class="form-group col-md-2">
																<label for="amountDue">Balance Due:</label>{{balance}}
															</div>
														</div>
														<table class="table table-bordered" name="cpt_table">

															<!-- table column headers -->
															<thead>
																<tr>
																	<th>CPT Code</th>
																	<th>Description</th>
																	<th>Cost</th>
																</tr>
															</thead>

															<!-- CPT code for every row, ordered by code ascending -->
															<tbody>
																<tr name="cptTableRow"
																	ng-repeat="l in cpts | orderBy: 'code'" codeId={{l.id}}>
																	<td name="codeCell">{{l.code}}</td>
																	<td name="descriptionCell">{{l.description}}</td>
																	<td name="costCell">${{l.cost}}</td>
																</tr>
															</tbody>
														</table>

													</div>
												</div>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
</body>
</html>